ion-header {
    background: aqua;
    text-align: center;
}

ion-card {
    background-color: #6c71f7;
    align-items: center;
}

.car-card {
    background-color: #6c71f7;
    color: black;
}

h1 {
    font-weight: bold;
}