ion-content {
    --ion-content-top: 0;
    --ion-content-bottom: 0;
  
    ion-grid {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ion-row {
      align-items: center;
    }
  
    p {
      margin: 0;
      font-size: 1rem;
      font-style: italic;
      font-weight: bold;
      line-height: 1.5;
      color: #86B6F6;
      text-align: center; /* Optional: align text center */
    }
  
    ion-button {
      height: 3rem;
      margin: 5px;
      background: #164863;
  
      color: rgb(255, 255, 255);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      width: 250px;
      border-radius: 20px;
      border-color: #9BBEC8;
      border-style: solid;
      border-width: 2px;
  
      // padding-top: 5px;
      // padding-bottom: 10px;
    }
  
    .butreg {
      background: #ffffff;
      color: #86B6F6;
    }
  
    ion-col.ion-text-center {
      justify-content: center;
    }
  
    .image-container {
      text-align: center;
      margin-bottom: 20px;
    }
    .image-container img {
      max-width: 100%; /* Maksimum lebar gambar adalah lebar container */
      height: auto; /* Biarkan tinggi gambar dihitung secara otomatis */
      max-height: 150px; /* Maksimum tinggi gambar, ubah sesuai kebutuhan */
    }
  
  /* CSS untuk desain gir motor */
  .motor-gir {
    position: relative;
    width: 100%;
    height: 200px; /* Sesuaikan tinggi dengan kebutuhan */
    overflow: hidden;
  }
  
  /* CSS untuk dekorasi gir motor */
  .futuristic-decoration {
    position: absolute;
    bottom: 0; /* Mulai dari bawah area motor-gir */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Sesuaikan ukuran dengan kebutuhan */
    height: 100px; /* Sesuaikan ukuran dengan kebutuhan */
    background-color: black; /* Warna gir */
    border-top-left-radius: 50% 50px; /* Bergerigi */
    border-top-right-radius: 50% 50px; /* Bergerigi */
    border-bottom-left-radius: 50% 50px; /* Bergerigi */
    border-bottom-right-radius: 50% 50px; /* Bergerigi */
    overflow: hidden; /* Agar lubang di tengah tidak terlihat melewati batas */
  }
  
  /* CSS untuk membuat lubang di tengah gir */
  .futuristic-decoration::before {
    content: "";
    position: absolute;
    top: 50%; /* Posisi vertikal di tengah */
    left: 50%; /* Posisi horizontal di tengah */
    transform: translate(-50%, -50%);
    width: 20px; /* Ukuran lubang */
    height: 20px; /* Ukuran lubang */
    background-color: rgb(255, 255, 255); /* Warna lubang */
    border-radius: 50%; /* Membuat lubang bulat */
  }
  
  /* Animasi putar */
  @keyframes rotateGir {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); } /* Putar 360 derajat */
  }
  
  }
  