<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div class="image-container">
          <img src="assets/icon/logomengkerent.jpg" alt="Deskripsi gambar">
        </div>
        <p>
          "Mencari Mobil Kaya Mencari Jodoh?<br>
          Mengkerent.id Solusinya!"
        </p>
        <br><br><br><br><br><br><br><br>
        <ion-button (click)="onSubmit()" fill="clear">
          Login
        </ion-button>
        <br><br>
        <ion-button (click)="onSubmits()" fill="clear" class="butreg">
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>